.header {
    background-color: #fff;
    // box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;    
     ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
        li a {
            position: relative;
            display: block;
            padding: 20px 20px;
            text-decoration: none;
            color: #000;
            &::after {
                content: ' ';
                position: absolute;
                height: 1px;
                width: 0;
                bottom: 1em;
                left: 1%;
                background: #5A46F3;
            }
            &.router-link-active {
                text-shadow: -2px -1px 20px rgba(255, 255, 255, 1);
                color: #5A46F3;
                position: relative;

                &::after {
                    content: ' ';
                    transition: 2s ease-in-out width;
                    width: 100%;
                }
            }

            &:hover {
                color: #3498db;
                &::after {
                    content: ' ';
                    transition: .9s ease-in-out width;
                    width: 100%;
                }
            }
        }
    }
    .logo {
        display: block;
        float: left;
        padding: 10px 20px;
        margin: 20px;
        height: 20px;
        width: 90px;
        background: url('./../../../assets/images/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .menu {
        clear: both;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }
    .menu-icon {
        cursor: pointer;
        display: block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
            .navicon {
                background: #333;
                display: block;
                height: 2px;
                position: relative;
                transition: background 0.2s ease-out;
                width: 18px;
                &::after,
                &::before {
                    background: #333;
                    content: " ";
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all 0.2s ease-out;
                    width: 100%;
                }
                &::before {
                    top: 5px;
                }
                &::after {
                    top: -5px;
                }    
            }
    }
    .menu-btn {
        display: none;
        &:checked~.menu {
            max-height: 240px;
        }
        &:checked~.menu-icon {
            .navicon {
                background: transparent;
                &::before {
                    transform: rotate(-45deg);
                }
                &::after {
                    transform: rotate(45deg);
                }
            }
            &:not(.steps) {
                .navicon::before,
                .navicon::after{
                    top: 0;
                }
            }
        }
    }
}
@media (min-width: 48em) {
    .header {
        li {
            float: left;
            a {
                padding: 20px 30px;
            }
        }
        .menu {
            clear: none;
            float: right;
            max-height: none;
        }
        .menu-icon {
            display: none;
        }
    }
}
