.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
    .navbar {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    overflow: hidden;
    width: 100%;
        a .logo{ 
            height: 20px;
            width: 90px;
            background: url('./../../../assets/images/logo-white.png');
            background-size: contain;
            background-repeat: no-repeat;
            justify-self: start;
            margin-left: 48px;
        }
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(5,3fr);
            justify-self: end;
            margin-right: 1em;
            .nav-item {
                text-align: center
            }
            a {
                color: #000;
                font-size: 0.7rem;
                font-weight: bolder;
                text-decoration: none;
                transition: color 0.3s ease-out;
                text-transform: uppercase;   
                &.router-link-active {
                    text-shadow: -2px -1px 20px rgba(255, 255, 255, 1);
                    color: #5A46F3;
                }
                &:hover {
                    color: #3498db;
                }
            }
        }
        &.scrolling {
            background: #fff;
            transition: background 1s ease-out;        
            a .logo {
                background: url('./../../../assets/images/logo.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
            a ul a {
                color: #fff;
            }
        }

    }
    // HAMBURGER MENU & ANIMATION 
    .nav-item a .router-link-active {
    color: #5A46F3;
    }
    .menu-toggle{
    justify-self: end;
    margin-right: 25px;
    display: none;
        &:hover{
        cursor: pointer;
        }
        .bar{
            width: 25px;
            height: 3px;
            background-color: #3f3f3f;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    }
    #mobile-menu.is-active {
        .bar:nth-child(1){
            -webkit-transform: translateY(8px) rotate(45deg);
            -ms-transform: translateY(8px) rotate(45deg);
            -o-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(2){
            opacity: 0;
        }
        .bar:nth-child(3){
            -webkit-transform: translateY(-8px) rotate(-45deg);
            -ms-transform: translateY(-8px) rotate(-45deg);
            -o-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
// Media Queries 
// Mobile Devices - Phones/Tablets 

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
    }
  // MOBILE HEADINGS 
  h1 {
    font-size: 1.9rem;}
  h2{
    font-size: 1rem;}
  p {
    font-size: 0.8rem;}
    
  // MOBILE NAVIGATION 
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
    .navbar li {
        padding: 15px;
            &:first-child {
                margin-top: 50px;}  
            &a {
                font-size: 1rem;}
    }
    .menu-toggle, .bar {
        display: block;
        cursor: pointer;
    }
    .mobile-nav {
        transform: translate(0%)!important;
    }
}}