#fullpage{
  background: #fff;
  background-image: none; 
}
.navbar {
  background: #fff; 
} 
.boxtop {
  display: none;
}
#fullpage{
  position: fixed;
}
.section {
  height: 100vh;
  width: auto;
  background: #fff;
  position: relative;
  display: grid;
  align-content: center;
  opacity: 0;
  transition: opacity .2s ease-in;
  .youtube-video{
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  &.active{
    opacity: 1;
    .youtube-video{
      opacity: 1;
    }
  }
  .container{
    display: grid;
    align-items: center;
    height: inherit;
  }
  &.results{
    background: #5A46F3;
    h2, h3 {
      color: #fff;
    }
  }
  &.video-section {
    height: 110vh;
  }
  &.hero {
    background: url('./../../assets/images/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    padding: 6em 0;
    h1, h2 {
      color: #fff;
    }
    .container {
      display: grid;
      align-items: normal;
      align-content: end;
      padding-bottom: 2em;
    }
    &::after {
      position: absolute;
      left: 50%;
      bottom: 3em;
      content: "#";
      z-index: 2;
      content: url(./../../assets/images/arrow.png);
      color: #fff;
      animation: bounce 2s infinite;
    }
  }
}
.footer{  
  background: #fff;
  div{
    margin-top: 50vh;
    background: #ACACAC;
    height: 50vh;
  }
}
.grid-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
}
#fullpage + .nav-footer {
  // border: 2px dashed red;
  position: fixed;
  bottom: 0;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-30px); } 
  50% {
    transform: translateY(0); } 
}