
@font-face {
  font-family: 'Crossten-ExtraLight';
  src: url('./../font/Crossten-ExtraLight.eot') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crossten-ExtraLight';
  src:  url('./../font/Crossten-ExtraLight.otf')  format('opentype');
	font-style: light;
}


