.avatar {
  width: 90px;
  height: 90px;
  background: #ccc;
  border-radius: 80px;}
.slick-slide{
  opacity: 0;}
.slick-current {
  opacity: 1;}
.slick-slider{
  overflow: hidden;}
.contents {
  margin-bottom: 4em;
  .pointer-selector{    
    .pointer {
      height: 20px;
      width: 20px;
      border-radius: 20px;
      margin-left: 20px;
      float: left;
      background: #ccc;
      border: 1px solid #000;
      &:hover {
        cursor: pointer;
      }
      &.active{
        background: #000;
        border: 1px solid #ccc;}
    }
  }
  .alter-contents {
    padding: 2em;
    left: 60%;
    width: 30vw;
    height: 160px;
    p {
      font-size: .7em;
      color: #000;}
  }
}
.container {
  margin-bottom: 24vh;}
p {
  font-size: .8em;}