
.main {
    background: #5A46F3;
    min-height: 15em;
    margin-bottom: 14em;
    .contents {
        min-height: 5em;
        background: transparent;
        .alter-contents {
            width: 100%;
            padding: 1em;
            margin: 0;
            top: 1em;
        }
    }
}